<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/bootstrap5/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/signin.css" rel="stylesheet">

    <script src="/bootstrap5/js/bootstrap.bundle.min.js"></script>

  </head>
  <body class="text-center">
    <main class="form-signin">
      <form method="post" action="/">
        <img class="mb-4" src="/images/boc-logo.png" alt="" width="72" height="70"/>
        <h1 class="h3 mb-3 fw-normal">Authenticator setup</h1>
    
        <div class="form-floating">
          <input type="text" class="form-control" name="emailaddress" id="emailaddress" placeholder="name@example.com">
          <label for="floatingInput">User Account</label>
        </div>
        <div class="form-floating">
          <!-- <input type="password" class="form-control" name="password" id="password" placeholder="Password">
          <label for="floatingPassword">Password</label> -->
        </div>
    
        <div class="checkbox mb-3">
          <!-- <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label> -->
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2023</p>
      </form>
    </main>
  </body>
</html>
